.userGreet {
  // background-color: #000;
  width: 100%;
  height: 90px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 17px;
  letter-spacing: 0.4px;
  text-align: center;
  color: #302713;
  padding: 10px;
}
.partialUnderline {
  width: 80%;
  margin: 10px auto 10px;
  color: #302713;
  border: 1px solid;
}
.fromToComponentContent {
  min-height: 500px;
  padding: 5px;
}
.fromToHeader {
  background-color: #b5985a;
  color:#fff;
  height:40px;
  text-align: center;
  font-size: 20px;
  width:100%;
  display: block;
  padding: 5px 0;
}
.fromToOptions {
  background-color: rgba(255,255,255,0.65);
  color:#53565a;
  display: block;
  width:100%;
  height:50px;
  padding: 5px 3px;
  font-size: 14px;
  font-weight: 500;
  text-align: justify;
  margin: 0 auto;
  border: 1px dotted #7a663a;
}
.form-control {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  color:#53565a;
  padding: 5px 3px;
  font-size: 14px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.85);
}
.btn {
  width: 100%;
  color:#302713;
  font-weight: bold;
  background-color: #b5985a;
}
.btn:hover {
  background-color: #d8a330;
}
.btn:active {
  background-color: #6d541d;
  color: #fff;
}
.text-color {
  color: white;
}
a{
    color: white;
    text-decoration: none;
    background-color: transparent;
}

@media (max-width: 500px) {
  /*
  .container{
    margin-top: 20%;
  }
  */
}
