<div class="userGreet">
  <span>Hello, {{user.name}}!</span>
  <hr class="partialUnderline">
  <span style="font-size: 16px;">Send money</span>
</div>
<div class="container">
  <div class="fromToComponentContent">
    <div class="fromToHeader">From Account</div>
    <div class="fromToOptions" *ngFor="let choice of fromAccountChoices" (click)='onSelectFromAccount(choice)'>
      <span>{{choice.accountType}}</span> account named <span>{{choice.accountName}}</span>
    </div>
    <div style="height:10px;width: 100%"></div>
    <div class="fromToHeader">From Account</div>
    <div class="fromToOptions" *ngFor="let choice of toAccountChoices" (click)='onSelectFromAccount(choice)'>
      <span>{{choice.accountType}}</span> account named <span>{{choice.accountName}}</span>
    </div>
    <div style="height:10px;width: 100%"></div>
    <div class="fromToHeader">Amount to send</div>
    <div class="fromToOptions">
        <input type="number" class="form-control" placeholder="$0.00" [(ngModel)]="this.enteredAmountValue" (change)="onInputValueChanged()">
    </div>
    <div style="height:10px;width: 100%"></div>
    <button type="button" class="btn btn-default btn-lg" (click)="buttonClicked()"[disabled]="!this.allInputsAnswered">Next</button>
  </div>
</div>
