<div class="fullPageBg"></div>
<div class="container">
  <div class="row" style="text-align: center; color: white">
  </div>
  <div class="row" class="main-div">
    <div class="col">
      <div class="row check-margin">
        <div class="col">
          <img src="../../assets/icon_Checkmark.png" alt="Successful" class="success-check">
        </div>
      </div>
      <div class="row check-margin-number">
        <div class="col">
          <p style="font-family: 'Interstate', 'Overpass', sans-serif; font-size: 50px; color: #FFF;
          letter-spacing: 0.06px; text-align: center;"><span [innerHTML]="this.currencySymbolToShow"></span>{{applicationModel.enteredAmount}}</p>
        </div>
      </div>
      <div class="row check-margin-text">
        <div class="col">
          <p style="font-family:'Interstate', 'Overpass',  sans-serif;">was successfuly sent to
            {{applicationModel.toAccount.accountName}} using Citi Global Transfer</p>
        </div>
      </div>
      <div class="row check-margin-logo">
        <div class="col">
          <img src="../../assets/logo_CitiBank.png" class="logo">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <p style="
      font-size: 14px;
      color: #FFFFFF;">Updated Balances</p>
          <p style="font-size: 18px; color: #FFF;"><span>{{applicationModel.fromAccount.accountName}}</span> <span
              style="float: right;">3723.80</span></p>
          <hr style="height: 1px; color:#FFFFFF">
          <p style="
      font-size: 14px;
      color: #FFFFFF;">Reference: 64MC93</p>
        </div>
      </div>
      <br>

      <div class="row button-margin">
        <div class="col">
          <button type="button" class="btn btn-default btn-lg">
            <a routerLink="/payee-list">Send more</a>
          </button>
          <button type="button" class="btn btn-outline-primary btn-lg">
            <a routerLink="">Done</a>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
