<div class="container">
  <div class="row" style="text-align: center; color: white">
    <!-- <div class="col">
      <h4>Hello, James Smith</h4>
      <hr/>
      <h4>Transaction completed</h4>
    </div> -->
  </div>
  <div class="row" class="main-div">
    <div class="col">
      <div class="row check-margin">
        <div class="col">
          <!-- <img src="../../assets/PH Success BG.png"> -->
          <img src="../../assets/icon_Checkmark.png" alt="Successful" class="success-check">
        </div>
      </div>
      <div class="row check-margin-number">
        <div class="col">
          <p style="font-family: Interstate-Light;
          font-size: 50px;
          color: #FFFFFF;
          letter-spacing: 0.06px;
          text-align: center;">$250.00</p>
        </div>
      </div>
      <div class="row check-margin-text">
        <div class="col">
          <p>was successfuly sent to James Smith using Citi Global Transfer</p>
        </div>
      </div>
      <div class="row check-margin-logo">
        <div class="col">
          <img src="../../assets/logo_CitiBank.png" class="logo">
        </div>
      </div>
      <br>
  <br>
  <br>
  <div class="row">
    <div class="col">
      <p style="
      font-size: 14px;
      color: #FFFFFF;">Updated Balances</p>
      <p style="
      font-size: 18px;
      color: #FFFFFF;">Checking ****0421 &nbsp;&nbsp;&nbsp;&nbsp; 3723.80</p>
      <hr style="height: 1px; color:#FFFFFF">
      <p style="
      font-size: 14px;
      color: #FFFFFF;">Reference: 64MC93</p>
    </div>
  </div>
  <br>
  <br>
   
      <div class="row button-margin">
        <div class="col">
          <button type="button" class="btn btn-default btn-lg">
            <a routerLink="/from-to-component">Send more</a>
          </button>
          <button type="button" class="btn btn-outline-primary btn-lg">
            <a routerLink="">Done</a>
          </button>
        </div>
      </div>
    </div>
  </div>
  
</div>
