<div class="userGreet">
  <span>Hello, James Smith!</span>
  <hr class="partialUnderline">
  <span style="font-size: 16px;">Transaction completed</span>
</div>
<div class="container">
  <div class="row" style="text-align: center; color: white">
    <!-- <div class="col">
      <h4>Hello, James Smith</h4>
      <hr/>
      <h4>Transaction completed</h4>
    </div> -->
  </div>
  <div class="row" class="main-div">
    <div class="col">
      <div class="row check-margin">
        <div class="col">
          <!-- <img src="../../assets/PH Success BG.png"> -->
          <img src="../../assets/icon_Checkmark.png" alt="Successful" class="success-check">
        </div>
      </div>
      <div class="row check-margin-number">
        <div class="col">
          <h1>$250.00</h1>
        </div>
      </div>
      <div class="row check-margin-text">
        <div class="col">
          <h3>was successfuly sent to James Smith using Citi Global Transfer</h3>
        </div>
      </div>
      <div class="row check-margin-logo">
        <div class="col">
          <img src="../../assets/logo_CitiBank.png" class="logo">
        </div>
      </div>
      <hr>
      <div class="row button-margin">
        <div class="col">
          <button type="button" class="btn btn-default btn-lg">
            <a routerLink="/from-to-component">Send more</a>
          </button>
          <button type="button" class="btn btn-outline-primary btn-lg">
            <a routerLink="">Done</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>