<div class="userGreet">
  <span>Hello, {{user.name}}!</span>
  <hr class="partialUnderline">
  <span style="font-size: 16px;">Review transaction</span>
</div>
<div class="container">
  <div class="reviewText">
    <span style="display: block; width:100%;">You are sending, </span>
    <span style="display: block; width:100%;"><b>$250.00 </b></span>
    <span style="display: block; width:100%;">from <b>Savings</b> account: </span>
    <span style="display: block; width:100%;"><b>987654321 - Mock Savings Account</b></span>
    <span>to <b>Lender</b> account : </span>
    <span style="display: block; width:100%;"><b>9999999990 - Repay Credit Card</b></span>
    <div style="height:20px;width: 100%"></div>
    <button type="button" class="editBtn"><a routerLink="/from-to-component">Edit</a></button>
  </div>
  <div class="btnSection">
    <button type="button" class="acceptCancelBtn btn-default btn-lg" style="float: left;background-color: #6d541d;"><a routerLink="/confirmation-component">Accept</a></button>
    <div class="inBetweenSpace"></div>
    <button type="button" class="acceptCancelBtn btn-default btn-lg" style="float: right;background-color: #ee5509f4;"><a routerLink="">Cancel</a></button>
  </div>
</div>
