/* .banner {
  height: 77px;
  width: 100%;
/*
  background-color: #000;
  background-image: url(../assets/apple-icon-60x60-edit.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center 10px;
*\/
  background-color: transparent;
  margin: 0 auto;
} */

