<div style="width: 100%; height: 44px; background: black"></div>

<div class="container first-main-div">
  <div class="">
    <div class="main-div">
      <div class="row div-one">
        <div class="col">
          <a href="">
            <i class="fas fa-chevron-left" style="font-size: 135%;"></i>
          </a>
        </div>
        <div class="col">
          <p class="heading">Transfer Account</p>
        </div>
        <div class="col" style="margin-top: -3px;">
          <a href="">Cancel</a>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <img src="{{this.payeeImageBaseURL}}{{applicationModel.toAccount.imageFile}}" alt="Avatar" class="avatar">
          <p class="avatar-text">{{applicationModel.toAccount.nickName}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="input-group mb-3" style="height:70px;">
            <div style="font-family: 'Overpass', 'Interstate', sans-serif; height:70px; " class="form-control no-border">
              ${{applicationModel.enteredAmount}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container second-container">
  <div class="row">
    <div class="col">
      <p class="second-container-text">Accounts</p>
    </div>
  </div>
  <br>
  <div class="row" style="padding: 10px;" *ngFor="let choice of fromAccountChoices">
    <div class="col" style="height:40px; width:40px; float:left;">
      <img src="{{this.payeeImageBaseURL}}{{choice.iconImage}}" class="bank-icons">
    </div>
    <div class="col">
      <div class="radio">
        <p style="margin-left: -12%; width: max-content; margin-top: -5px;">
          <span style="font-family: SFUIText-Semibold;
              font-size: 15px;
              color: #666666;">{{choice.accountName}}</span>
          <br>
          <span style="font-family: SFUIText-Regular;
              font-size: 12px;
              color: #A7A7A7;">Available
            balance 2567.02</span>
        </p>
      </div>
    </div>
    <div class="col">
      <div class="radio">
        <input type="radio" class="optradio" (click)='onSelectFromAccount(choice)'>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <a routerLink="/review">
        <button type="button" class="btn btn-default" style="margin: 0 auto;
        display: inherit;"><span style="font-family: 'Overpass', 'Interstate', sans-serif;
          font-size: 18px;
          color: #FFFFFF;
          text-align: center;">
            Next</span></button></a>
    </div>
  </div>
</div>
