/* You can add global styles to this file, and also import other style files */

a {
  color: #fff;
  text-decoration: none !important;
}

@font-face {
  font-family: 'Interstate-local';
  src: url('/src/assets/font/Interstate-Regular.bmap')  format('bitmap');
}
