<!-- <div style="width:100%;height:44px;background:blue;"></div> -->
<!-- <div class="fullPageBgHome"></div> -->
<div class="homeContainer">
  <div class="srg">
    <div class="blockWord"><a routerLink="/payee-list">SEND</a></div>
    <div class="blockWord"><a routerLink="/payee-list">RECEIVE</a></div>
    <div class="blockWord"><a routerLink="/payee-list">GIVE</a></div>
  </div>
  <div class="jusAboveFooterImage"></div>
  <div class="homeFooter">
    <div class="footerIconSection">
        <i class="fas fa-bars footerIcons"></i>
        <i class="fas fa-dollar-sign footerIcons"></i>
        <i class="fas fa-star footerIcons"></i>
        <i class="far fa-user footerIcons"></i>
    </div>
  </div>
</div>
