.interstateFont {
  font-family: "Interstate", "Overpass", sans-serif;
}
.sfUIFont {
  font-family: "SFUIText", "Roboto", sans-serif;
}

@media (max-width: 500px) {
  .topFakeMarginDiv {
    width: 100%;
    height: 44px;
    background: #000;
  }

  .payeeTopSection {
    height: 262px;
    padding: 7px 8px;
    font-family: sans-serif;
    color: #fff;
    background: #000;
    letter-spacing: 1.1px;
  }

  .backChevron {
    width: 20%;
    float: left;
    text-align: left;
    font-size: 20px;
  }

  .sendMoney {
    width: 60%;
    float: left;
    text-align: center;
    font-size: 20px;
  }

  .cancel {
    width: 20%;
    float: left;
    text-align: right;
    font-size: 20px;
  }

  .recentPayeeSection {
    height: 200px;
    width: 100%;
  }

  .payeeSearchBar {
    height: 45px;
  }

  .payeeSearchBarInner {
    height: 35px;
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #fff;
    padding: 2px 5px;
  }

  .searchIcon {
    width: 10%;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    float: left;
    text-align: center;
    vertical-align: bottom;
  }

  .payeeSearchBarInput {
    width: 90%;
    float: left;
    background: transparent;
    border: 0;
    outline: none;
    text-align: center;
    font-style: italic;
    color: #fff;
  }

  .recentPayeeImageSection {
    height: 155px;
  }

  .recentPayeeImageSectionHeader {
    text-align: center;
    display: block;
    margin: 0 auto;
  }

  .recentPayeeImageSectionImages {
    height: 120px;
    margin: 15px 0;
    padding: 0 10px;
  }

  .payeeDetails {
    height: 105px;
    width: 25%;
    float: left;
  }

  .payeeDetailsImage {
    height: 80px;
    width: 100%;
  }

  .payeeDetailsName {
    height: 25px;
    text-align: center;
    font-size: 14px;
  }

  /*.fromToComponentContent {
     min-height: 500px;
  }*/
  .fromToHeader {
    background-color: #b5985a;
    color: #fff;
    height: 40px;
    text-align: center;
    font-size: 20px;
    width: 100%;
    display: block;
    padding: 5px 0;
  }
  .fromToOptions {
    background-color: rgba(255, 255, 255, 0.65);
    color: #53565A;
    display: block;
    width: 100%;
    height: 75px;
    padding: 21px 10px;
    font-family: "Interstate", "Overpass", sans-serif;
    font-size: 19px;
    /* font-weight: bold; */
    text-align: left;
    margin: 0 auto;
    border: 1px solid rgba(164, 164, 164, 0.812);
  }
  .accountTypeImage {
    width: 40px;
    float: left;
  }
  .accountName {
    width: 65%;
    float: left;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .accountAmount {
    float: right;
    text-align: right;
  }
  .container {
    margin: 0;
    padding: 0;
    background: #fff;
    /* min-height: 500px; */
  }
}
