<div class="topFakeMarginDiv"></div>

<div class="interstateFont payeeTopSection">

  <div style="height:45px;">
    <div class="backChevron">
      <a routerLink="/home"><i class="fas fa-chevron-left"></i></a>
    </div>
    <div class="sendMoney">
      Send Money
    </div>
    <div class="cancel">
      <a routerLink="">Cancel</a>
    </div>
  </div>

  <div class="recentPayeeSection">

    <div class="payeeSearchBar">
      <div class="payeeSearchBarInner">
        <i class="fas fa-search searchIcon"></i>
        <input class="payeeSearchBarInput" type="text" name="search" placeholder="Enter a name to search" (focus)="onSearchNameInputFocus()"
          (keyup)="onInputValueChanged($event)">
      </div>
    </div>

    <div class="searchDiv" style="padding:10px; color:#000;" [hidden]="!amountInputFocussed">
      <div style="height:10px;width: 100%"></div>
      <div class="searchToOptions" *ngFor="let choice of toMockSearchAccountChoices" [hidden]="!showMockSearchDiv"
        (click)='onSelectToAccount(choice)' style="font-family:  'Overpass', 'Interstate', sans-serif; ">
        <div class="accountSearchImage">
          <img src="{{this.payeeImageBaseURL}}{{choice.imageFile}}" height="60" width="60">
        </div>
        <div class="searchDivAccountName"> {{choice.accountName}}</div>
      </div>
    </div>

    <div class="recentPayeeImageSection">
      <div class="row recentPayeeImageSectionHeader">Recent Payees</div>
      <div class="row recentPayeeImageSectionImages">
        <div class="payeeDetails" (click)='onPayeeImageClick(choices)' *ngFor="let choices of mockRecentPayeeChoices">
          <div class="payeeDetailsImage">
            <img src="{{this.payeeImageBaseURL}}{{choices.imageFile}}" alt="" height="80" width="80" style="display: block; margin:0 auto;">
          </div>
          <div class="payeeDetailsName">{{choices.nickName}}</div>
        </div>
      </div>
    </div>

  </div>

</div>
<div class="container" style="min-height: 450px;">
  <div class="fromToComponentContent">
    <div class="fromToHeader">Payee</div>
    <div class="fromToOptions" *ngFor="let choice of toAccountChoices" (click)='onSelectToAccount(choice)'>
      <div class="accountTypeImage">
        <img src="{{this.payeeImageBaseURL}}{{choice.imageFile}}" height="40" width="40">
      </div>
      <div class="accountName"> {{choice.accountName}}</div>
      <div class="accountAmount">${{choice.amountBal}}</div>
    </div>
    <div style="height:10px;width: 100%"></div>

    <div class="fromToHeader">Account</div>
    <div class="fromToOptions" *ngFor="let choice of toAccountChoices" (click)='onSelectToAccount(choice)'>
      <div class="accountTypeImage">
        <img src="../../assets/icon_Checking.png" height="32" width="32">
      </div>
      <div class="accountName"> {{choice.accountName}}</div>
      <div class="accountAmount">${{choice.amountBal}}</div>
    </div>
    <div style="height:10px;width: 100%"></div>
  </div>
</div>
